* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.warehouses__block {
    display: flex;
    align-items: center;
    gap: 10px;
}

.stock__block {
    display: flex;
    gap: 10px;
}

.window-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5);
}

.window-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

    max-height: 85vh;
    overflow-y: auto;

    scroll-behavior: smooth;
}


@mixin column {
    display: flex;
    flex-direction: column;
}


.warehouses__buttons {
    @include column;
    align-items: start;
    gap: 7px;

    margin: 10px 0 0 10px;

    button {
        font-size: 1em;
    }
}

.info-warehouses {
    margin-left: 20px;
    margin-top: 10px;

    .title {
        font-size: 2em;
        align-self: center;
    }

    * {
        font-size: 1em;
    }

    @include column;
    align-items: flex-start;
    gap: 10px;



    .infoStock {
        align-self: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }

    .window-content {
        .products-props {
            border: 1px solid black;
        }
    }
}